
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none;
  line-height : 0.5;
}

.dataTables_scrollBody {
  border-bottom: none;
}

.dataTables_scrollHead {
  background-color: #011C51;
}

table.dataTable thead .sorting {
  color: #fff;
}

/* main footer */
.main-footer {
  background-color: #C20B10;
}

/* main sidebar */
.main-sidebar {
background-color: #C20B10;
}

/* other links in the sidebarmenu */
/*.skin-blue .main-sidebar .sidebar .sidebar-menu a{
background-color: #C20B10;
color: #000000;
}