
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none;
  line-height : 0.5;
}

.dataTables_scrollBody {
  border-bottom: none;
}

.table.dataTable .thead .sorting {
  color: #fff;
}

.dataTables_scrollHead {
  background-color: #011C51;
}


.justify-content-between {
    
    justify-content: center;
}