
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none;
  line-height : 0.5;
}

table.dataTable.no-footer {
    border-bottom: none;
}


.table.dataTable .thead .sorting {
  color: #fff;
}

.dataTables_scrollHead {
  background-color: #1E366A;
}


.justify-content-between {
    justify-content: center;
}

img {
  border-radius:15px;
}


.shiny-image-output .shiny-bound-output {
  height: 100px;
  width: 100%;
}

h3 {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    color: #b90e13;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}


.navbar-light {
    background-color: #f4f6f9;
}


/* To delete border in Valuevox */
.small-box {
    border-radius: .25rem;
    box-shadow: none;
    display: block;
    margin-bottom: 20px;
    position: relative;
}


/* Carad size bottom (Summarise stats) */
.card {
    margin-bottom: .1rem!important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
}

/* Card herader (Summarise stats) */
.card-header {
    padding: .3rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #ffffff;
    border-bottom: 0px solid rgba(0,0,0,.125);
}


.mb-3, .small-box, .card, .info-box, .callout, .my-3 {
    margin-bottom: .1rem!important;
}

.small-box>.inner {
    padding: 1px;
}

.card-body {
    flex: 1 1 auto;
    padding: .5rem;
}

element.style {
    width: 100%;
    height: 230px;
}

.no-border {
    padding: .3rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #ffffff;
   
}



.card-primary:not(.card-outline)>.card-header {
    background-color: #00337f;
    border-bottom: 0;
    
}


ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
    margin-top: 0px;
}




.portrait-title  {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0,0,0,.54);
  margin: 0 0 10px;
}



.footer-glossary-title {
  font-weight: bold;
  font-size: .9rem;
}


.footer-glossary-text {
  font-size: .9rem;
}


.footer-flex-container:nth-child(4n+1) {
  width: 300px;
  padding-left: 1rem;
}
