
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none;
  line-height : 0.5;
}

.dataTables_scrollBody {
  border-bottom: none;
}

.dataTables_scrollHead {
  background-color: #011C51;
}

table.dataTable thead .sorting {
  color: #fff;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #C20B10;
}

thead, th {
  text-align: center;
  color: #FFF;
}

.font-weight-ligh {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
} 

.font-weight-light {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}